{% load bootstrap %}
{% load  static %}
<!DOCTYPE html>
<html lang="en">
    <body class="container">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>{% block title %}{% endblock %}</title>
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          
        </head>
        <div class="container">
            <div class="container">
            <h3>Faça o seu login</h3>
            <form class="login-form card" action="." method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input class="btn btn-primary" type="submit" value="Login">
            </form>
        </div>
    </body>
</html>