<!DOCTYPE html>
<html>
    <h1>Produtos Cadastrados</h1>
    <ul>
    {% for product in product_list%}
        <li>{{ product.nome}} </li>
        <li>  
            <a href="{% url 'signup:product_delete' product.id %}"> {% csrf_token %}
                <input type="submit" value='Deletar Cadastro'>
            </a>
        </li>
        <li>
            <a href="{% url 'signup:product_update' product.id %}"> {% csrf_token %}
                <input type="submit" value='Editar'>
            </a>
        </li>
       
      
    {% endfor %}
    </ul>

    
    
</html>